<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <app-menu></app-menu>
      </div>
      <div class="column">

        <!-- TODO 1.1 - vyměňte komponentu za router outlet -->
        <app-home></app-home>

      </div>
    </div>
  </div>
</section>
