<div class="block">

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                OrderID: {{order.guid}}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <b>email:</b><br/>
                {{order.email}}
                <br/>
                <b>phone:</b><br/>
                {{order.phone}}
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column" *ngIf="order.shippingAddress">

        <app-order-address title="Shipping Address" [address]="order.shippingAddress"></app-order-address>

    </div>

    <div class="column">

        <app-order-address title="Billing Address" [address]="order.billingAddress"></app-order-address>

    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th><abbr title="Price per piece">PPP</abbr></th>
        <th>Total price</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{order.totalPrice}}</th>
    </tr>
    </tfoot>
    <tbody>

    <tr *ngFor="let item of order.orderedItems">
        <th>{{item.productId}}</th>
        <th>{{item.productName}}</th>
        <th>{{item.quantity}}</th>
        <th>{{item.pricePerPiece}}</th>
        <th>{{item.totalPrice}}</th>
    </tr>
    </tbody>
</table>

<p>
    <b>Note:</b>
    {{order.note}}
</p>

