h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 Popis cvičení

p.
  V tomto cvičení budeme implementovat zobrazení zpráv jednoduchého chatu, data budeme načítat nejprve jednorázově a poté periodicky.
  Využijeme k tomu Observables, jejichž flexibilita se nejvíc ukáže při implementaci odesílání zprávy.

h3 1 - Načítání zpráv

p.
  V připravené aplikaci je vidět chatovací místnost s jednou zprávou a formulář pro přidávání.

ul
  li veškerá naše práce se bude odehrávat v komponentě #[strong ChatComponent], v souboru #[em chat.component.ts]
  li do vlastnosti #[strong chatRoom] jsou přiřazena statická data
  li místo nich načteme reálná

h4 1.1 - načtěte chatRoom

p.
  Data načteme pomocí injektnuté služby #[strong HttpClient], je uložena ve vlastnosti #[strong http]. Url je k dispozici v konstantě #[strong CHATROOM_URL]. API běží lokálně, je skutečné, ale obsahuje náhodně generovaná data.

ul.task
  li v metodě #[strong ngOnInit] načtete metodou #[strong get] služby #[strong http] data
  li data budou typu #[strong ChatRoom]
  li přihlaste se k odběru události a získaná data zapište do vlastnosti #[strong chatRoom]

hint Typ se určí pomocí generik za názvem metody #[strong http.get<typ>(...)].
  br
  | Odpověď Response má metodu #[strong json()].
  br
  | K odběru se přihlásíte pomocí metody #[strong subscribe]

solution
  :highlight-ts
    this.http.get<ChatRoom>(this.CHATROOM_URL)
      .subscribe(chatRoom => this.chatRoom = chatRoom);

ul.task
  li ověřte, že komponenta načetla data ze serveru
  li statická data nyní můžete odstranit.

h4 1.2 - načítejte chatRoom periodicky

p.
  Nyní načítáme data ze serveru pouze jednou, lepší bude načítat je periodicky. Upravíme právě vytvořené načítání a využijeme k tomu observables.

ul.task
  li vytvořte periodický interval s opakováním #[strong 2] vteřiny
  li hodnotu transformujte pomocí operátoru, který umožní začlenit do streamu odpověď od funkce vracející observable
  li tomuto operátoru předejte existující volání metody #[strong $http.get]
  li nakonec přidejte přihlášení k odběru #[strong subscribe]

hint Interval vytvoříte pomocí #[strong interval(2000)].
  br
  | Operátor, pro asynchronní volání je #[strong flatMap] - #[strong flatMap(value => function_Returning_Observable())]
  br
  | Operátory se připojují metodou #[pipe(operator(...), operator2(...))]

solution
  :highlight-ts
    interval(2000)
      .pipe(
        flatMap(() => this.http.get<ChatRoom>(this.CHATROOM_URL))
      )
      .subscribe(chatRoom => this.chatRoom = chatRoom);

ul.task
  li ověřte, že se data načítají, ale k prvnímu načtení dojde až při první hodnotě intervalu
  li použijte tedy ještě operátor vkládající úvodní hodnotu do streamu

hint Jedná se o operátor #[strong startWith], jako úvodní hodnotu předejte null.
ul.task
  li před #[strong subscribe] ještě přidejte operátor #[strong tap] a zalogujte do konzole debugovací hlášku "chat reloaded".

solution
  :highlight-ts
    interval(4000)
      .pipe(
        startWith(null),
        flatMap(() => this.http.get<ChatRoom>(this.CHATROOM_URL)),
        tap(() => console.log('chat reloaded'))
      )
      .subscribe((chatRoom) => this.chatRoom = chatRoom);

ul.task
  li zkontrolujte, že se data začnou načítat ihned
  li v konzoli můžete pozorovat, kdy byly zprávy načteny

h3 2 - Odesílání zprávy

p.
  Zprávy už se načítají, nyní implementujeme jejich odesílání, formulář i obslužná metoda jsou připraveny, zbývá jen odeslat data.

h4 2.1 - odešlete zprávu pomocí http metody post
ul.task
  li v metodě #[strong sendMyMessage] odešlete message pomocí metody #[strong post] služby #[strong Http] na url #[strong CHATROOM_URL]
  li nezapomeňte, že observables jsou #[em lazy] a je tedy nutné je odebírat, aby došlo k požadavku.
    ul
      li v odběru můžete zalogovat informaci o odeslání zprávy

hint Metoda post má syntaxi #[strong http.post(url, data)]
solution
  :highlight-ts
    this.http.post(this.CHATROOM_URL, message)
      .subscribe(() => console.log('message added'));

ul.task
  li nyní se již budou zprávy odesílat
  li k obnovení však dojde až v rámci nastaveného intervalu, teprve poté svoji zprávu uvidíte

h4 2.2 - vytvořte nový observable subject

p.
  Převedeme volání na obsluhu příchozí události, kterou bude zpráva. Odeslání se tak provede pouhým posláním zprávy do streamu.

ul
  li nejprve budeme potřebovat observable subjekt

ul.task
  li do vlastnosti #[strong myMessages$] přiřaďte nový subjekt, bude akceptovat typ #[strong Message]

hint Vytvoříte jej pomocí #[strong new Subject<typ>()]

solution
  :highlight-ts
    myMessages$ = new Subject<Message>();

h4 2.3 - vytvořte obsluhu pro odesílání zprávy

ul
  li obsluhu postavíme v constructoru použitím správného operátoru na vlastnosti #[strong myMessages$]

ul.task
  li na vlastnost #[strong myMessages$] použijte operátor, který umožní začlenit do streamu odpověď od funkce vracející observable
  li tomuto operátoru předejte existující volání metody #[strong post]
  li za jeho voláním zachovejte #[strong subscribe] s logováním informace o přidání zprávy

hint Operátor, pro asynchronní volání je #[strong flatMap] - #[strong flatMap(value => function_Returning_Observable())]

solution
  :highlight-ts
    this.myMessages$
      .pipe(
        flatMap(message => this.http.post(this.CHATROOM_URL, message))
      )
      .subscribe(() => console.log('message added'));

h4 2.4 - posílejte zprávu do streamu

ul.task
  li v metodě #[strong sendMyMessage] nahraďte přímé odesílání na server a nahraďte jej předáním zprávy do subjektu #[strong myMessages$]

hint Zprávu předáte pomocí metody #[strong next]
solution
  :highlight-ts
    this.myMessages$.next(message);

ul.task
  li vyzkoušejte, že se zpráva odesílá
  li seznam zpráv se stále ještě obnovuje v zadaném intervalu, ale už jsme blízko řešení

h3 3 - Propojení streamu načítání se streamem odesílání

p.
  V tomto kroku propojíme oba streamy tak, že načtení bude vyvoláno nejen intervalem, ale také streamem odeslání.

h3 3.1 - uložte obsluhu do streamu

ul.task
  li v constructoru odstraňte odběr #[strong subscribe]
  li uložte subjekt s aplikovaným operátorem a odesláním zprávy do vlastnosti #[strong this.myMessagesStream$]

solution
  :highlight-ts
    this.myMessagesStream$ = this.myMessages$
      .pipe(
        flatMap(message => this.http.post(this.CHATROOM_URL, message))
      );

h4 3.2 - propojte oba streamy

p.
  Nyní nahradíme stream vytvořený intervalem novým streamem, který tento původní spojuje spolu s právě vytvořeným #[strong myMessagesStream$]

ul.task
  li Vytvořte nový stream pomocí metody pro spojení, spojte
    ul
      li stream interval(4000)
      li stream ve vlastnosti #[strong myMessagesStream$]

hint Ke spojení slouží metoda merge(stream1, stream2, ...)

solution
  :highlight-ts
    merge(interval(2000), this.myMessagesStream$)
      .pipe(
        startWith(null),
        flatMap(() => this.http.get<ChatRoom>(this.CHATROOM_URL)),
        tap(() => console.log('chatReloaded'))
      )
      .subscribe((chatRoom) => this.chatRoom = chatRoom);

ul
  li ověřte, že se zprávy začnou načítat ihned po odeslání zprávy

h4 3.3 - odregistrujte stream

p.
  Nyní všechno funguje jak byste očekávali, jen na jednu důležitou věc jsme zapomněli, odregistrovat stream.
  Díky tomu, že zde máme jedno přihlášení k odběru, stačí nám zrušit právě toto.

ul.task
  li uložte celou obsluhu načítání do existující vlastnosti #[strong chatRoomSubscription$]
  li v metodě #[strong ngOnDestroy] se od poslechu odhlaste

solution
  :highlight-ts
    this.chatRoomSubscription$ =  merge(interval(2000), this.myMessagesStream$)
      .pipe(
        startWith(null),
        flatMap(() => this.http.get<ChatRoom>(this.CHATROOM_URL)),
        tap(() => console.log('chatReloaded'))
      )
     .subscribe((chatRoom) => this.chatRoom = chatRoom);

    ...

    ngOnDestroy() {
      this.chatRoomSubscription$.unsubscribe();
    }

.success Výborně, vyzkoušeli jste si nejen práci se službou HttpClient, ale také práci se streamy, operátory a možností vzájemného propojení.
