<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">

        <aside class="menu">
          <p class="menu-label">
            Menu:
          </p>
          <ul class="menu-list">
            <li>
              <!-- TODO routerLink -->
              <a routerLink="/home"
                 routerLinkActive="is-active">
                Home
              </a></li>
            <li>
              <a routerLink="/chat"
                 routerLinkActive="is-active">
                Chat
              </a></li>
          </ul>
        </aside>

      </div>
      <div class="column">

        <!-- TODO homeComponent nahradit router outlet -->
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</section>
