<div class="columns">
    <div class="column is-3">
        <app-orders-list
                [orders]="ordersCollection"
                [selectedOrder]="currentOrder"
                (selectedOrderChange)="selectOrder($event)">

        </app-orders-list>
    </div>
    <div class="column">
        <app-order [order]="currentOrder"></app-order>
    </div>
</div>
