p.
  Všechna cvičení jsou postavená jako samostatné aplikace vygenerované pomocí Angular CLI.

h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 Popis cvičení

p.
  V tomto cvičení vytvoříte jednoduchou komponentu, bude zobrazovat informace o zákazníkovi.
  Oživíte šablonu, připojíte styly a vyzkoušíte property a event binding pro vlastnosti a metody.
  Nakonec ještě vytvoříte vlastní pipe pro formátování adresy.


h3 1 - Vytvoření komponenty
ul
  li Vytvořte novou komponentu customer pomocí angular-cli
  li.task ve složce cvičení spusťte
    snippet.
      ng g component customer

  li.task podívejte se na vytvořenou komponentu #[em customer/customer.component.ts], její šablonu a jak je deklarována v #[em app.module.ts]

h4 1.1 - Použijte komponentu v šabloně

ul
  li.task všimněte si, jaký má vytvořená komponenta definován selektor
    hint app-customer

  li v šabloně #[em app.component.html] komponentu použijte

solution
  :escape
    <app-customer></app-customer>

ul.task
  li podívejte se na výsledek v prohlížeči, měli byste vidět vypsáno #[strong customer works!]

h4 1.2 - Šablona komponenty

ul.task
  li nahraďte obsah #[em customer/customer.component.html] následující šablonou
p
  snippet
    :highlight-html
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            User informations:
          </p>
        </header>

        <!--TODO 4.2 - aplikujte třídu vip na základě score-->
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column">
                <p>
                  <b>name:</b><br/>

                  <!--TODO 1.5 - vypište jméno-->
                  John Doe
                </p>

                <p>
                  <b>email:</b><br/>
                  <!--TODO 1.5 - vypište email-->
                  john@doe.com
                </p>
              </div>
              <div class="column">
                <p>
                  <b>address:</b><br/>
                  <!--TODO 1.7 - vypište adresu a použijte pipe json-->
                  <!--TODO 2.1 - použijte pipe pro formátování adresu -->
                  whole address
                </p>
              </div>

              <div class="column">
                <p>
                  <b>score:</b><br/>
                  <!--TODO 1.5 - vypište score-->
                  <!--TODO 1.6 - vypište rank pomocí volání metody-->
                  <span>3 - regular</span>
                </p>

                <!--TODO 3.1 - při kliknutí volejte metodu decrease -->
                <!--TODO 4.1 - podmíněné zakázání tlačítka -->
                <button type="button" class="button" >Decrease</button>

                <!--TODO 3.1 - při kliknutí volejte metodu increase -->
                <button type="button" class="button">Increase</button>

              </div>
            </div>
          </div>
        </div>
      </div>

h4 1.3 - styly komponenty
p.
  Styly můžete definovat na globální úrovni, nebo na úrovni komponenty.

ul.task
  li podívejte se, jak je definováno pole #[strong styleUrls] v dekorátoru komponenty #[strong CustomerComponent]
  li do souboru se styly komponenty vložte následující kód

snippet.
  .vip {
    background-color: gold;
  }

  .card-header {
    background-color: darkgray;
  }

  .card-header-title {
    color: white
  }

ul.task
  li podívejte se, jak se aplikují styly a prohlédněte si element #[strong header] se třídou #[strong card-header] i v konzoli prohlížeče

h4 1.4 - vlastnosti komponenty

ul.task
  li v komponentě #[strong CustomerComponent] přidejte vlastnost #[strong customer] typu #[strong Customer] (definován v #[em model/customer.ts])
  li inicializujte ji následujícími daty.

snippet
  :highlight-ts
    customer: Customer = {
       name: 'Karl Montegri',
       email: 'karl.m@motasco.org',
       score: 2,
       address: {
         street: 'Jason park 12',
         city: 'Felt',
         state: 'Idaho'
       }
     };

h4 1.5 - výpis dat v šabloně

ul.task
  li pomocí interpolace oživte v šabloně výpis jména, emailu a score

solution
  :highlight-html
    {{customer.name}}

    ...

    {{customer.email}}

    ...

    {{customer.score}}

h4 1.6 - vypište rank pomocí volání metody

p V šabloně je možné volat také metody komponenty.

ul.task
  li v komponentě #[strong CustomerComponent] vytvořte metodu #[strong showUserRank()]
  li metoda bude na základě hodnoty zákazníkova #[strong customer.score] vracet řetězec:
    ul
      li #[strong unknown] - pro 0
      li #[strong regular] - pro 1-3
      li #[strong VIP] - pro hodnoty větší než 3

  li použijte metodu v šabloně

solution
  strong
    em customer.component.ts
  hr
  :highlight-ts
    showUserRank() {
      if(this.customer.score > 3) {
        return 'VIP';
      }
      if(this.customer.score > 0) {
        return 'regular';
      }

      return 'unknown';
    }
  hr
  strong
    em customer.component.html
  hr
  :highlight-html
    {{getCustomerRank()}}

h4 1.7 - vypište adresu a použijte pipe json

ul.task
  li v šabloně komponenty vypište adresu a formátujte pomocí pipe json
  li podívejte se jak se objekt vypisuje

hint Pipe se v šabloně aplikuje pomocí operátoru #[strong |]

solution
  :highlight-html
    {{customer.address | json}}

h3 2 - Vytvoření pipe

p.
  Pipe slouží pro transformaci dat, vytvoříme vlastní pro převod objektu adresy na textovou reprezentaci.

ul.task
  li vytvořte pipe #[strong Address] pomocí angular-cli
    snippet.
      ng g pipe address

  li prohlédněte si soubor #[strong address.pipe.ts] a deklaraci v #[strong app.module.ts]

  li implementujte metodu #[strong transform], tak aby přijímala objekt #[strong Address] a vracela string ve formátu
    snippet
      :escape
        <street>, <city>, <state>

  hint Můžete s výhodou použít string template `${variable1}, ${variable2} ...`

solution
  :highlight-ts
    @Pipe({
      name: 'address'
    })
    export class AddressPipe implements PipeTransform {

      transform(address: Address): string {
        return `${address.street}, ${address.city}, ${address.state}`;
      }
    }

h4 2.1 - použijte pipe na adresu

ul.task
  li v šabloně komponenty použijte pipe #[strong address] místo pipe json

solution
  :highlight-html
    {{customer.address | address}}

h3 3 - Event binding

p.
  Pomocí event bindingu je možné na události html navázat volání metod komponenty.

h4 3.1 - při kliknutí na tlačítko volejte metodu
ul.task
  li v komponentě #[strong CustomerComponent] vytvořte metody #[strong increase a decrease], které budou zvyšovat nebo snižovat zákazníkovo #[strong score]
  li v šabloně volejte vytvořené metody pokud dojde na tlačítkách #[strong Increase] a #[strong Decrease] k události #[strong click]

hint Event binding se zapisuje jako #[strong (událost)="metoda()"]
solution
  strong
    em customer.component.ts
  hr
  :highlight-ts
    increase() {
      this.customer.score ++;
    }
    decrease() {
      this.customer.score --;
    }
  hr
  strong
    em customer.component.html
  hr
  :highlight-html
    <button type="button" class="button" (click)="increase()">Increase</button>
    <button type="button" class="button" (click)="decrease()">Decrease</button>

ul.task
  li vyzkoušejte, že tlačítka zvyšují a snižují #[strong score] a vypisuje se správný #[strong rank]

h3 4 - Property binding

p Property binding umožňuje navázat vlastnosti a atributy HTML elementů na vyhodnocení výrazu.

h4 4.1 - podmíněné zakázání tlačítka

p.
  tlačítko decrease je aktivní, i když #[strong score] klesne pod 0. Tlačítko v tomto případě zakážeme

ul.task
  li pomocí property bindingu aplikujte na tlačítko #[strong Decrease] vlastnost #[strong disabled], pokud je #[strong score] <= 0
    ul
      li výraz můžete napsat přímo v šabloně, nebo zabalit do metody komponenty

hint Property binding se zapisuje jako #[strong [vlastnost]="výraz"]

solution
  :highlight-html
    <button type="button" class="button"
            (click)="decrease()" [disabled]="customer.score <= 0">Decrease</button>

h4 4.2 - aplikujte třídu vip na základě score

p.
  Pomocí class bindingu můžete aplikovat konkrétní třídu na základě splnění výrazu

ul
  li v šabloně komponenty aplikujte na element označený #[strong card-content] css třídu #[strong vip], pokud je #[strong score] zákazníka větší než 3
    ul
      li výraz můžete napsat přímo v šabloně, nebo zabalit do metody komponenty
hint Class binding se zapisuje jako #[strong [class.třída]="výraz"]

solution
  :highlight-html
    <div class="card-content" [class.vip]="customer.score > 3">

ul
  li při změně ranku na vip by se nyní měla změnit barva pozadí komponenty

h3 5 - Vyzkoušejte celou komponentu

.success Výborně, vytvořili jste vlastní komponentu, nabindovali data do šablony a použili property i event binding.
